---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "";
---
<BaseLayout>
  <img 
    src={`${import.meta.env.BASE_URL}assets/art/sketches/site/banner2.png`} 
    alt="Banner"
    style="max-width: 100%; height: auto; border-radius: 8px; margin: 1rem 0;"
  >
  <p>Greetings! I'm glad that you found this page. <br> Here you may read what I am thinking about, my opinions on technology and, maybe even my art. (at some point in the future)</p>
  <p>If you want to know whats going on in my head, your best chance of finding out are my <a href={`${import.meta.env.BASE_URL}blog/`}>blog posts</a>, where I write about pretty much anything I feel like writing about. </p>

  <img 
    src={`${import.meta.env.BASE_URL}assets/art/sketches/site/readingcat.png`} 
    alt="Banner"
    style="max-width: 100%; height: auto; border-radius: 8px; margin: 1rem 0;"
  >

</BaseLayout>