---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout>
  <h2>Welcome</h2>
  <p>Greetings! I'm glad that you found this page. <br> Here you may read what I am thinking about, my opinions on technology and, maybe even my art.</p>
</BaseLayout>